.form {
  display: flex;
  justify-content: center;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 50%;
  height: 10px;
  font-size: 1.2em;
  background: #fafafa;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #C1BBDD;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  border-radius: 5px;
  margin-left: 5%;
}
.sendButton:hover {

  background: #DABFDE;

}
