.card-row {
    display: flex;
    /* width: 100%;
    table-layout: fixed;
    border-spacing: 10px;  */
}
.card-column {
    display: table-cell;
    width: 50%;
    text-align: center;
}
 .card-column  h1{
   cursor: pointer
}
.crown{
    height: 20px;
}

.wordholder{
  align-items: center;
  justify-content: center;
}

.winner-status{
      text-align-last: center;
}
