.instruct {
    background-color: oldlace;
    width: 50%;
    margin: auto;
    min-width: 400px;
}
.instruct p ,.instruct h2 ,.instruct h3, .instruct h4{
    padding: 2%;
}
.how-to-play {

}
.other-rules {

}
.colors-block {

}
