
  .player-block h2 {
     text-align: center;
     margin-top: 4%;
  }
  .player-block{
    min-width: 300px;
    height: 100px;
    display: grid;
    margin: 10px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 4%;
  }
  .winner{
    border: #f5c71a solid;
  }
 .game-winner{
    background-color: #f5c71a !important;
  }
  .sent{
    border: blue solid;
  }
  .player-block h2 {
     text-align: center;
  }

  .player-block-name {
      float: left;
  }
  .player-block-top {
      display: inline;
      font-size: 14pt;
      display: flex;
      place-content: space-between;
      margin: 1% 2%;
  }

  .player-block-score {
      float: right;
  }

  .over-ride-btn{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: darkred;
    display: inline-block;
    border: none;
    padding: 20px;
    float: right;
    border-radius: 5px;
  }
  .over-ride-btn:hover{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background:red;
    display: inline-block;
    border: none;
    padding: 20px;
    float: right;
    border-radius: 5px;
  }
  .subtitle {
    display: flex;
    place-content: space-between;
    background: #fafafa;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    padding: 8px;
    margin: 8px;
}
.board {
    padding: 5%;
}
.roominfo p{
margin-top:0;
}
.roominfo {
    place-content: space-between;
    font-size: initial;
  }
