html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

#root {html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;

}

* {
  box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
}

  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
    flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
}

.joinInnerContainer {
  width: 40%;
  margin: auto;
  min-width: 400px;
  min-height: 250px;
  background: #fff;
  border-radius: 5px;
  padding: 1%;
  border: 1px solid #dbdbdb;

}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  background: #fafafa;
  border: solid 1px #dbdbdb;
  border-radius: 3px;

}
.game-setting input{
  border-radius: 0;
  background: #fafafa;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
}

.joinInnerContainer div{
   margin: 2%;
 }

.heading {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(208,33,41);
}

.button {
    text-transform: uppercase;
    text-decoration: none;
    background: #c1bbdd;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 60%;
}
.button:hover {
    text-transform: uppercase;
    text-decoration: none;
    background: #dabfde;;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 60%;
}
.room-block{
  display:flex;
}
.create-options{
  border-radius: 0;
  margin:auto;
  text:unset;
  font-size: small;
}



@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
}
